/* for login page */
.full{
    background-color: rgb(34, 34, 34);
    
}

/* to align the word signin */
#sign{
    display: inline;
    position: relative;
    top: 90px;
    left: 140px;
    color:rgb(253, 251, 251);
    
}
/* to get emailid and password in middle */
.page1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    font-size: 1.5em;
    color:rgb(253, 253, 253);
    background-color: rgb(109, 111, 111);
    line-height: 50%;
    position:relative;
    left: 770px;
    bottom: 0.1px; 
    top:140px; 
    background: transparent;
    border: 3px  grey;
    
}

#first{
    margin-top: 5px;
    margin-bottom: 5px;
    background: transparent;
    border: 3px solid grey;
    color:rgb(244, 242, 242);
    font-size: 1em;
    padding: 5px 5px;
    border-radius: 20px;


}
#last{
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
    color:rgb(253, 253, 253);
    border: 3px solid grey;
    color: grey;
    font-size: 1em;
    padding: 5px 5px;
    border-radius: 20px;
}

/* to get google apple buttons to center */
.page2{
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    align-items: center;
    width: 300px;
    line-height: 50%;
    position:relative;
    left: 70px;
    bottom: 220px;
    color:rgb(253, 253, 253);
    
}
/* TO MAKE bullets go */
.list1{
    list-style: none;
}
/* to get a line in middle */
.vl {
    border-left: 4px solid rgb(173, 176, 173);
  height: 370px;
  position: absolute;
  left: 50%;
  margin-left: -350px;
  top: 0;
  }

  .btn1{
    margin-bottom: 30px;
    background-color: transparent;
    font-size: 20px;
    padding: 12px 32px;
    border-style: solid;
    border-radius: 9999px;
    border-width: 3px;
    border-color: rgb(240, 149, 3);
    color: rgb(0, 41, 56);
    font-weight: 600;
    /* -webkit-box-align: center; */
    /* align-items: center;
    vertical-align: middle;
    text-align: center; */
    cursor: pointer;
    line-height: 25.6px;
    white-space: nowrap;
    margin-bottom: 4px;
    margin-right: 4px;
    box-shadow: rgb(240, 149, 3) 2px 4px 0px 2px;
    /* outline: none; */
    color:rgb(253, 253, 253);
}
.btn1:hover{
    color: aqua;
    border-color: aqua;
    box-shadow: rgb(7, 245, 229) 2px 4px 0px 2px;
}
.btn2{
    margin-bottom: 100px;
    margin-top: 20px;
    background-color: transparent;
    font-size: 20px;
    padding: 12px 32px;
    border-style: solid;
    border-radius: 9999px;
    border-width: 2px;
    border-color: rgb(240, 149, 3);
    color: rgb(0, 41, 56);
    font-weight: 600;
    /* -webkit-box-align: center;
    align-items: center;
    vertical-align: middle;
    text-align: center; */
    cursor: pointer;
    line-height: 25.6px;
    white-space: nowrap;
    margin-bottom: 4px;
    margin-right: 4px;
    box-shadow: rgb(240, 149, 3) 2px 4px 0px 2px;
    /* outline: none; */
    color:rgb(253, 253, 253);
}
.btn2:hover{
    color: aqua;
    border-color: aqua;
    box-shadow: rgb(7, 245, 229) 2px 4px 0px 2px;
}
.btn3{
    margin-bottom: 50px;
    margin-top: 20px;
    background-color: transparent;
    font-size: 20px;
    padding: 12px 32px;
    border-style: solid;
    border-radius: 9999px;
    border-width: 2px;
    border-color: rgb(240, 149, 3);
    color: rgb(0, 41, 56);
    font-weight: 600;
    /* -webkit-box-align: center;
    align-items: center;
    vertical-align: middle;
    text-align: center; */
    cursor: pointer;
    line-height: 25.6px;
    white-space: nowrap;
    margin-bottom: 4px;
    margin-right: 4px;
    box-shadow: rgb(240, 149, 3) 2px 4px 0px 2px;
    /* outline: none; */
    color:rgb(253, 253, 253);

}
.btn3:hover{
    color: aqua;
    border-color: aqua;
    box-shadow: rgb(7, 245, 229) 2px 4px 0px 2px;
}
.btn4{
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: transparent;
    font-size: 20px;
    padding: 12px 32px;
    border-style: solid;
    border-radius: 9999px;
    border-width: 2px;
    border-color: rgb(240, 149, 3);
    color: rgb(0, 41, 56);
    font-weight: 600;
    /* -webkit-box-align: center;
    align-items: center;
    vertical-align: middle;
    text-align: center; */
    cursor: pointer;
    line-height: 25.6px;
    white-space: nowrap;
    margin-bottom: 4px;
    margin-right: 4px;
    box-shadow: rgb(240, 149, 3) 2px 4px 0px 2px;
    /* outline: none; */
    color:rgb(253, 253, 253);

}
.btn4:hover{
    color: aqua;
    border-color: aqua;
    box-shadow: rgb(7, 245, 229) 2px 4px 0px 2px;
}

.slider .slider_box{
color: #fefefe;
background-color: #f89cab;
padding: 150px;
border-radius: 0 0 15px 15px;

}
.detail-box {
padding-left: 45px;
margin: 70px 20px;
}
.detail-box h1 {
font-weight: bold;
font-size: 4.5rem;
margin-bottom: 10px;
}
.detail-box a {
    display: inline-block;
    padding: 10px 40px;
    background-color: #db4566;
    color: #ffffff;
    border: 1px solid #db4566;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin-top: 25px;
    text-transform: uppercase;
  }

.img-box {
display: flex;
position: absolute;
right:20px;
top:90px;
/* left:100px; */
padding: 50px;
  }
.img-box img {
    width: 750px;
  }
